html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home {
    background-color: aquamarine;
}

#portfolio {
    background-color: rgb(209, 255, 240);
}