body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: pink;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    /* you will add addition rules for the container here  */
}

div {
    background-color: rgb(255, 229, 242);
    grid-column: span 3;
    border-style: solid;
}

.item-2,.item-4 {
 grid-column:  3 / 6;
    
}


