body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10%;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    /* padding:10px; */
    gap: 15px;
}

section {
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 10px;

    border-style: solid;
    border-color: rgb(201, 201, 201)
}

p, span {
    color: rgb(168, 168, 168);
}