body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #ffae00;
}

h1 {
    /* text-align: center; */
}

.class {
    display: grid;
}

.grid-container {
	display: grid;
	grid-template-rows: 1fr 2fr;
	gap: 20px;
}

.grid-item {
	/* background-color: #f0f0f0; */
	padding: 20px;	
    text-align: center;
}

